.final-result__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    background-color: var(--website-bg);
    background: var(--website-bg-gradient);
    pointer-events: none;

    transition: opacity 0.5s ease;
}

.final-result__overlay.visible{
    opacity: 1;
    pointer-events: auto;
}

.final-result__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    animation: popIn 0.6s;
}

.final-result__front{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.final-result__overview{
    height: 80%;
    padding: 30px 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.final-result__overview::-webkit-scrollbar {
    display: none;
}


.final-result__text{
    color: white;
    font-weight: bold;
    font-size: 64px;
    text-shadow: var(--shadow-transparent);
}

@keyframes popIn{
    0%{
        transform: scale(0.8);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}