.final-result__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    z-index: 1000;
    opacity: 0;
    background: var(--overlay-color);
    pointer-events: none;
    transition: opacity 0.5s ease;
}

.final-result__overlay.visible{
    opacity: 1;
    pointer-events: auto;
}

.final-result__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    animation: popIn 0.6s;
}

.final-result__text{
    color: gold;
    font-weight: bold;
    font-size: 64px;
}

.final-result__score{
    color: white;
    font-size: 32px;
    margin-bottom: 8px;
}
@keyframes popIn{
    0%{
        transform: scale(0.8);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}