*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--website-bg);
    background: var(--website-bg-gradient);
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
}

.toast-wrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;   
    width: 100%;
}

.toast{
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;   
    color: white;
    font-weight: bold;
    background-color: var(--button-bg-color);
}

.game-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-title{
    padding: 0 24px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.game-icon{
    width: 80px;
    aspect-ratio: 1/1;
}

.button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.button-container button{
    padding: 12px 24px;
    width:300px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background-color: var(--button-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-container button:hover{
    background-color: var(--button-bg-color-lights);
}

.success{
    background-color: rgba(16, 174, 101, 0.7);
}

.error{
    background-color: rgba(134, 40, 22, 0.7);
}

.hidden{
    display: none;
}

