.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.menu button{
    padding: 12px 24px;
    width: clamp(300px, 50vw, 400px);
    border: 2px solid white;
    border-radius: var(--main-radius);
    font-size: clamp(2rem,2.5vw,40px);
    font-weight: bold;
    color: white;
    background-color: var(--button-bg-color);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.menu button:hover{
    background-color: var(--button-bg-color-lights);
}
