.toast-wrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50px;   
    width: 100%;
}

.toast{
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 18px;   
    color: white;
    font-weight: bold;
    background-color: var(--button-bg-color);
}

.success{
    background-color: rgba(16, 174, 101, 0.7);
}

.error{
    background-color: rgba(134, 40, 22, 0.7);
}