.toast-wrapper{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 80px;   
    width: 100%;
}

.toast{
    padding: 20px;
    border-radius: 20px;
    font-size: 18px;   
    color: white;
    font-weight: bold;
}

.toast-wrapper.arena-toast-wrapper{
    top: 10px;
}

.arena-toast-wrapper .toast.error{
    background:  rgb(220, 22, 22);
}

.success{
    background: var(--bg-transparent-green);
    box-shadow: var(--shadow-transparent);
}

.error{
    background: var(--bg-transparent-red);
    box-shadow: var(--shadow-transparent);
}