.game-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-title{
    padding: 0 24px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.game-icon{
    width: 80px;
    aspect-ratio: 1/1;
}