.game-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.game-title{
    padding: 0 24px;
    color: white;
    font-size: clamp(36px,3vw,64px);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.game-icon{
    width: clamp(90px,10vw,120px);
    aspect-ratio: 1/1;
}