*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--website-bg);
    background: var(--website-bg-gradient);
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
}

.hidden{
    display: none;
}

