*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--website-bg);
    background: var(--website-bg-gradient);
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    height: 100vh;
}

.hidden{
    display: none;
}

.transparent-bg{
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(
        to bottom,
        var(--button-bg-color) 50%,
        transparent 100%
    );
    box-shadow: var(--shadow-transparent);    
}

