.arena__round-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width:500px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    text-shadow: var(--shadow-transparent);
}


.round-info__counter{
    color: gold;
    font-weight: bold;
}

.round-info__score{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.score{
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;  
}

.score__name{
    margin-right: 0.5rem;
}

.score__value{
    color: gold;
    font-weight: bold;    
    transition: transform 0.3s ease, color 0.3s ease;    
}
.score__value.score-up{
    transform: scale(1.3);
    color: rgb(22, 224, 22);
}
