.round-timer{
    padding: 12px;
    font-size: 20px;
    width: 200px;
    color: white;
    text-shadow: var(--shadow-transparent);
    text-align: center;
    border-radius: var(--main-radius);      
    background: var(--bg-transparent-green);
    box-shadow: var(--shadow-transparent);    
}

.alert{
    background: var(--bg-transparent-red);
}

@media (min-width:1000px){
    .round-timer{
        width: fit-content;
    }
    .round-timer span{
        font-size: 24px;
    }
}