.round-timer{
    padding: 12px;
    font-size: 20px;
    width: 200px;
    color: white;
    text-shadow: var(--shadow-transparent);
    text-align: center;
    border-radius: var(--main-radius);      
    background: var(--bg-transparent-green);
    box-shadow: var(--shadow-transparent);    
}

.alert{
    background: var(--bg-transparent-red);

}