.arena{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.arena-side-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.arena-side-wrapper .versus-icon{
    align-self: center;
}
.versus-icon{
    width: 80px;
    aspect-ratio: 1/1;
    transform: translateY(10%);
}

.arena-side{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.arena-side__info{
    display: flex;
    justify-content: center;
    width: 100%;
}

.locked .arena-side__choice{
    pointer-events: none;
    cursor: default;
}

.arena-side__image{
    width: 95px;
    aspect-ratio: 1/1;
}

.arena-side__title{
    align-self: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: var(--shadow-transparent);
}

.arena-side__choices{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.arena-side__choice{
    position: relative;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;  
    cursor: pointer;  
}

.arena-side__choice.fadeout{
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.arena-side__choice.selected{
    transform: scale(1.05);
}

.arena-side__choice img{
    display: block;
    width: 80px;
    aspect-ratio: 1/1;
}

.arena-side__choice:hover{
    transform: scale(1.02);
}

.arena-side__choice.selected:hover{
    transform: scale(1.10);
}

.marker {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 60px;
    height: 5px;
    background-color: aqua;
    z-index: -1;
    opacity: 0;
    transform: translate(-70%, 50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.arena-side__choice:hover .marker{
    opacity: 1;
    transform: translate(-50%,50%);
}

@media (min-width: 1000px) {
    .arena-side-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
        max-width: 1100px;
        padding: 0px 20px;
        margin: 0 auto;
    }

    .arena-side__image{
        width: clamp(120px,10vw,150px);
    }

    .arena-side__title{
        font-size: clamp(32px,2.5vw,40px);
    }    

    .versus-icon {
        width: 100px;
    }

    .arena-side__choices{
        width: fit-content;
        justify-content: center;
    }
    .arena-side__choice img {
        width: clamp(100px, 10vw, 130px);
    }

    .marker{
        width: clamp(60px,9vw,100px);
    }

}




